$primary-color: black;
$background-color: white;

body {
  background-color: $background-color;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    color: $primary-color;
  }
}

.hero {
  display: flex;
  justify-content: center;

  .title {
    display: flex;
    img {
      max-width: 4em;
      max-height: 4em;
    }
  }
  .container {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    width: 25em;
    padding: 1rem;
    border-radius: 1rem;

    .filter {
      margin-top: 0.5rem;
    }

    ul {
      margin: 0;
      border: 0;
      list-style-type: none;
      padding-left: 0;

      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        font-size: 1.3em;
        padding: 0.5em;
        button {
          border-radius: 1rem;
          max-height: 1.5rem;
        }
      }
    }
    .clearAll {
      width: 25rem;
      background-color: transparent;
      border: none;
      display: flex;
      justify-content: center;
      cursor: pointer;
      margin-top: 2rem;
    }

    .input {
      button {
        cursor: pointer;
      }
      input {
        width: 50%;
      }
    }
  }
}
